body {
    background-image: url(../Images/camada2.jpg);
    background-size: cover;
}

.box > h2 {
    font-family: 'Montserrat', monospace, sans-serif;
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box > iframe {
    border: 3px black solid;
    border-radius: 10px;
    margin: 20px auto 10px auto;
}