body {
    background-image: url(../Images/camada4.jpg);
    background-size: cover;
}

.title {
    text-align: center;
    margin: 25px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-box {
    text-align: center;
}

.btn-click {
    width: 40%;
    height: 50px;
}

.linhas {
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}