body {
    background-image: url(../Images/camada5.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    margin-top: 35px;
    border-radius: 20px;
}

.btn-click {
    width: 40%;
    height: 50px;
}