/* Arquivo onde serão feitas as mudanças padrão para todas as páginas */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
    font-family: 'Poppins', 'Montserrat', monospace, sans-serif;
}

.box {
    text-align: center;
}

.box button {
    width: 60vw;
    margin: 30px auto;
}

.btn-click {
    width: 200px;
    height: 60px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 8px;
    color: #FFFFFF;
    background: #ffa84b;
    cursor: pointer;
}