/* Arquivo onde serão feitas as mudanças padrão para todas as páginas */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', monospace, sans-serif;
}

body * {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #6356ab;
}

.btn {
    width: 350px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 12px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    color: #FFFFFF;
    background: #6356ab;
    cursor: pointer;
}